#tag {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  & img {
    width: 15px;
  }
}
#Cinema_Content {
  & p {
    color: #d8d8d8;
    font-size: 13px;
  }
  & span {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  & button {
    font-size: 12px;
  }
  & button:hover {
    background-color: #151515;
    transition: all 0.5s;
  }
}
