#Online_Cinema {
  background-image: url(https://www.filimo.com/assets/web/ui/img-ugnSfCQdq1MdoMws3NbA/campaigns/nosub-v_new/bg-cinama.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Online_Cinema_Content {

  overflow-y: scroll;
  height: 70vh;
}
.box {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #33353d;

}
